<form>
        <div class="form-group">
            <label for="catala">Català</label>
            <input type="text" class="form-control" id="catala" placeholder="català" readonly value="{{color.catala}}">
        </div>
        <div class="form-group">
            <label for="catala">Francès</label>
            <input type="text" class="form-control" id="frances" placeholder="francès" readonly value="{{color.frances}}">
        </div>
        <div class="form-group">
            <label for="catala">Castellà</label>
            <input type="text" class="form-control" id="castella" placeholder="castellà" readonly value="{{color.castella}}">
        </div>
        <div class="form-group">
            <label for="catala">Anglès</label>
            <input type="text" class="form-control" id="angles" placeholder="anglès" readonly value="{{color.angles}}">
        </div>        
</form>